
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');

body, html{
    
    
    font-family: 'open sans';
    background-color: #f2f2f2;
}

.cabecera{
    background-image: url("/img/header.jpg");
    min-height: 60%;
}
.cabecera
{
    
    height: 600px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
    margin: 0;
    color: black;
}
nav{
    color: white;
    padding: 20px 0 0 40px;
}
nav ul{
    padding: 0;
    list-style: none;
}
nav li{
    display: inline;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    text-shadow: 0 0 10px #000;
}
nav a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.titulos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-shadow: 0 0 10px #000;
}
.titulos-header h1{
    font-size: 50px;
    color: white;
}
.titulo {
    
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.contenedor {
    width: 95%;
    margin: auto;
  
}
.contenedor-principal{
    display: flex;
    justify-content: space-evenly;
}
.contenedor-izquierdo{
  float: left;
  width: 70%;
  padding: 0 30px;
  text-align: justify;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 60%);
  margin-bottom: 30px;
  margin-left: 20px;
  background-color: white;
 
 
}.contenedor-derecho{
    float: right;
    width: 30%;
    text-align: justify;
    padding: 0 20px;
  }
.cajas{
    width: 28%;
    padding: 0 20px;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 60%);
    margin-bottom: 30px;
    background-color: white;
}
.cajas h3{
    text-align: center;
}
.secciones{

padding-bottom: 30px;
}
footer{
    background-color: #414141;
    color: white;
    padding: 60px 0 30px 0;
}
.titulofinal{
    text-align: center;
    font-size: 24px;
}

.card-video{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 60%);
    background-color: white;
}
.multimedia{
    width: 95%;
    padding: 0 0 30px 0;
}
.contenedor-izquierdo img{
    display:block;
    margin:auto;
     width: 50%;

}
.cajas img{
    display:block;
    margin:auto;
     width: 60%;
}